.dev__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  padding-top: 3rem;
  box-sizing: border-box;
}

.dev__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50rem;
  min-height: 20rem;

  margin-bottom: 3rem;

  @include b-shadow()
}

.dev__row {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.dev__h1 {
  font-size: $Fs-m;
  color: $base;
}
